<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.Proyecto.SISPPAFUT.DL.DALC.Properties.Settings.Cadena" connectionString="server=(local); database=SISPPAFUT; User Id=SISPPAFUTadmin; Pwd=admin"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
